<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>458012422538-d8aml7m3i8q9013ph8uurlrj734ig458.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.458012422538-d8aml7m3i8q9013ph8uurlrj734ig458</string>
	<key>API_KEY</key>
	<string>AIzaSyB3wGVXxQyCrPG5swFXTvIz-mK_Vaz6A9k</string>
	<key>GCM_SENDER_ID</key>
	<string>458012422538</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Gorokhovskiy.CubManager</string>
	<key>PROJECT_ID</key>
	<string>cubmanager-21021</string>
	<key>STORAGE_BUCKET</key>
	<string>cubmanager-21021.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:458012422538:ios:e5188d9ac0b3662753d873</string>
	<key>DATABASE_URL</key>
	<string>https://cubmanager-21021.firebaseio.com</string>
</dict>
</plist>